/* header */
.header {
    position: relative;
    padding: 0.25em 0;
    overflow: hidden;
    _zoom: 1;
    line-height: 1.5;
    background-color: #E6E6E6;
    border-bottom: 1px solid #BBB;
    background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
    background-image:    -moz-linear-gradient(top, #FFF, #E6E6E6);
    background-image:     -ms-linear-gradient(top, #FFF, #E6E6E6);
    background-image:      -o-linear-gradient(top, #FFF, #E6E6E6);
    background-image:         linear-gradient(top, #FFF, #E6E6E6);
    -webkit-box-shadow: 1px 0 5px #CCC;
       -moz-box-shadow: 1px 0 5px #CCC;
        -ms-box-shadow: 1px 0 5px #CCC;
         -o-box-shadow: 1px 0 5px #CCC;
            box-shadow: 1px 0 5px #CCC;
}
    .header h1 {
        text-align: center;
        font-size: 1.5em;
        font-weight: normal;
        color: #555;
        -webkit-text-shadow: 0 0 5px #CCC;
           -moz-text-shadow: 0 0 5px #CCC;
            -ms-text-shadow: 0 0 5px #CCC;
             -o-text-shadow: 0 0 5px #CCC;
                text-shadow: 0 0 5px #CCC;
    }
    .header-edit,
    .header-setup {
        position: absolute;
        top: 50%;
        left: 1em;
        margin-top: -0.85em;
        padding: 0.2em 0.5em;
        font-size: 0.8em;
        text-decoration: none;
        color: #FFF;
        background-color: #AAA;
        -webkit-border-radius: 0.2em;
           -moz-border-radius: 0.2em;
            -ms-border-radius: 0.2em;
             -o-border-radius: 0.2em;
                border-radius: 0.2em;
    }
    .no-inputfile .header-setup {
        display: none;
    }
    .header-setup:hover,
    .header-edit:hover,
    .start-edit .header-edit,
    .show-side .header-setup {
        background-color: #555;
    }
    .header-edit {
        left: auto;
        right: 1em;
    }

/* pictures */
.pictures {
    position: relative;
    padding: 1em;
    overflow: hidden;
}
    .pictures li {
        position: relative;
        float: left;
        _display: none;
        margin: 10px 10px 0 0;
        padding: 0.5em;
        height: 200px;
        max-width: 100%;/*阻止小屏幕情况下图片太宽的情况，需要更好的布局算法解决*/
        list-style: none;
        cursor: pointer;
        border: 1px solid #CCC;
        border-radius: 0.25em;
        -webkit-box-shadow: 1px 1px 3px #CCC;
           -moz-box-shadow: 1px 1px 3px #CCC;
            -ms-box-shadow: 1px 1px 3px #CCC;
             -o-box-shadow: 1px 1px 3px #CCC;
                box-shadow: 1px 1px 3px #CCC;
    }
        .pictures li img {
            /* 自适应图片大小 */
            max-width: 100%;
            max-height: 100%;
        }
        .pictures li p {
            width: 100%;
            line-height: 1.5;
            font-weight: bold;
            text-align: center;
            color: #FFF;
            opacity: 0.8;
            background-color: #333;
        }
        /* not support ie6 */
        .pictures li:hover p,
        .start-edit .pictures li p {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .pictures li p,
        .pictures li .icon-close {
            display: none;
        }
        .start-edit .pictures li .icon-close {
            position: absolute;
            top: -16px;
            right: -16px;
            z-index: 1;
            display: block;
        }
    .pictures-up {
        height:40px;
        line-height:40px;
        padding:5px 10px;
        font-weight:bold;
        text-align: center;
    }
    .pictures-up a {
        color:#888;
        text-decoration: none;
    }

/* for desktop */
@media all and (min-width: 1025px) {
    .pictures li img {
        height: 200px; /* for mac opera 11.64 bug */
    }
}
